h1 {
  margin-left: 1em;
  font-size: 1.5em;
  color: white;
}

#tabs li {
  display: none;
  margin: 0 1em;
}

header {
  background-color: navy;
}

.about h2 {
  margin-left: 1em;
  font-size: 1em;
}

.about p {
  margin: 2em;
  padding: 0.5em;
  text-align: justify;
  border: 2px solid black;
}

.skills h2 {
  margin-left: 1em;
  font-size: 1em;
}

.skills article {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid black;
}

.projects h2 {
  margin-left: 1em;
  font-size: 1em;
}

#project-slides {
  /*placeholder values until images of projects are added later*/
  height: 300px;
  width: 300px;
  margin: 2em auto;
  padding: 0.5em;
  border: 2px solid black;
}

a {
  color: white;
}

#carousel img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media screen and (min-width:640px) {

  #tabs li {
    display: inline;
    font-size: 1em;
    margin: 0 1em;
  }

  i {
    visibility: hidden;
  }

}
